button {
  outline: none;
}
.title {
  text-align: center;
  font-size: 5rem;
  font-family: 'Italianno', cursive;;
  font-weight: lighter;
}

.item{
  cursor: pointer;
}

.source {
  font-weight: bold;
  color: #4285F4;
}

.powered {
  font-size: 11.5px;
  font-weight: lighter;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.blue{
  color: #4285F4;
}

.red {
  color: #DB4437;
}

.green {
  color:#0F9D58;
}

.yellow {
  color: #F4B400;
}

.appContainer {
  display: flex;
  height: 100%;
}

.menu {
  margin-top: 10.3rem !important;
  margin-left: auto !important;
  margin-right: auto !important;
  border-radius: 25px !important;
  border: none !important;
  box-shadow: none !important;
}

.weatherCard {
  border-radius: 25px !important;
  border-color: transparent !important;
  width: 210px !important;

  /* position: fixed !important; */
}

.grayB {
  border-top-left-radius:25px !important;
  border-top-right-radius:25px !important;
}
.cardLeft {
  position: fixed;
  left: 50px
}

.cardRight {
  position: fixed;
  right: 50px
}



.mobileContainer {
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top:1.5rem;
}

.widgetBtn {
  width: 40%;
  height: 40px;
  border: 2px solid #4285F4;
  background-color: transparent;
  border-color: #4285F4;
  border-radius: 25px;
  color:#4285F4;
}

.cards{
  justify-content: center !important;
}
.cardShadowRemove{
  -webkit-box-shadow: none !important;
-moz-box-shadow: none !important;
box-shadow: none !important;
}

.grid {
  margin-top: 3rem !important;
  justify-content: center !important;
  height: 400px;
}

.weatherContainer{
  width: 50% !important;
  margin-left: 10%;
}

.cardW{
  margin:auto;
  margin-bottom: 2.5rem;
}
/* @media only screen
and (min-device-width: 0)
and (max-device-width:1600){
  .fixSearch {
      position: relative !important;
      display: flex !important;
      width:100%;
  }
}
*/

@media screen
and (min-width: 1566px)
{
  .mobileContainer{
      display: none !important;
  }
  .menu{
      display: block !important;
  }
  .fixSearch {
      position: fixed;
      justify-content: center;
      align-content: center;
      align-items: center;
      text-align: center;
      width: 81rem;
      background-color: white;
      z-index: 3;
  }
  .weatherCard {
      position: fixed !important;
  }
  .stock {
      position: fixed !important;
  }
  .items {
      margin-top:18rem !important;
  }
}

@media screen
and (max-width:1565px){
  .mobileContainer{
      display: flex !important;
  }
  .menu {
      display: none !important;
  }
  .appContainer{
      max-width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-top: 0rem;
  }
  .fixSearch {
    margin-top: 45px;
  }
}